.case-container {
  padding: 20px;
  margin: 0 0 30px 0;
}
.btn {
  margin: 40px;
}
h1 {
  -webkit-text-stroke: 1px white;
  color: "#292b2c";
  letter-spacing: 10px;
  font-size: 60px;
  font-weight: 900;
  font-family: "Impact", Times, serif;
}
@media only screen and (max-width: 800px) {
  h1 {
    -webkit-text-stroke: 1px white;
    color: "#292b2c";
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 100;
    font-family: "Impact", Times, serif;
  }
}

.chart {
  height: 600px;
}
@media only screen and (max-width: 800px) {
  .chart {
    height: 300px;
  }
}
.footer {
  background-color: #1a1a1d;
}
.icon {
  margin: 5px;
}
